/* All Item */
.font{
    font-family: "Work Sans", sans-serif;
}

.display-flex{
    display: flex;
}

.bg-colur{
    background: rgba(255, 144, 14, 0.1);
}
*{
    margin: 0%;
    padding: 0%;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    border: none;

}

/* Navber */
.navber{
    justify-content: space-around;
    align-items: center;   
}
.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);

    font-size: 1.13rem;
    font-weight: 500;
    text-align: center;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.brand{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.82rem;
    font-weight: 700;
   
}

/* banner */
.navber,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.main{
    max-width: 1440px;
    margin: 0 auto; 
}

.banner-text{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.banner-description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    margin-top: 50px;
}

/* our-feature */

.our-feature{
    align-items: center;
    margin-top: 100px;
   
}
.our-feature-text{
    max-height: 537px;
    margin-left: 76px;
   
    
}
.our-feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature-title{
    
    font-size: 45px;
    font-weight: 2.8rem;
    margin-bottom: 20px;
}
.our-feature-description{
    color: rgb(114, 114, 114);
    
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}




@media screen and (max-width:576px) {
    .navber{
        flex-direction: column;
        justify-items: center;
        
    }
    .our-feature{
        margin-top: 40px;
        flex-direction: column-reverse;
        
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        margin-top: 30px;
    }
    .navlinks{
        margin-top: 20px;
       padding-left: 20px;
    }
    .our-feature-text{
        margin-left: 2px;
        margin-bottom: 20px;
        text-align: center;
    }
    .our-feature-img img{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img img{
        width: 100%;
    }
}